.padding
{
    margin: 15px;
}
/* ul
{
    list-style: none;
} */
body
{
    background-color: #fefae0;
}
ol
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 600;
}